#container {
    font-family: 'Lato', sans-serif;
    max-width: 1280px;
    margin: auto;
}

#header {
    display: flex;
    border: 2px solid black;
    justify-content: space-between;
    align-items: center;
}

#menu {
    display: flex;
}

#phone {
    padding: 20px;
}

.link {
    width: 25%;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
}

.slideshow {
    width: auto;
    height: 450px;
    /* Adjust the height as needed */
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
}

.slides {
    width: 300%;
    /* Each slide will take up 33.33% width */
    height: 100%;
    display: flex;
    animation: slide 10s infinite;
}

.slides img {
    width: 33.33%;
    /* Each slide will take up 33.33% width */
    height: 100%;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    33.33% {
        transform: translateX(-33.33%);
    }

    66.66% {
        transform: translateX(-66.66%);
    }
}

#feat {
    padding: 10px;
    display: flex;
}

.featuring {
    margin: 10px;
    width: 25%;
    text-align: center;
    border: 2px solid black;
    padding: 20px;
}

#columnholder {
    display: flex;
    border: 2px solid black;
}

#textcontent {
    width: 70%;
    border: 2px solid black;
    padding: 20px;
}

#sidebar {
    width: 30%;
    border: 2px solid black;
    padding: 20px;
}

#footer {
    border: 2px solid black;
    padding: 20px;
}